//Main colors
$main-blue-color: #429EFF;
$main-dark: #1E1E1E;
$main-white: #ffffff;

// secondary colors
$secondary-gray: #8496AF;
$secondary-gray-light: #DCE7F1;
$secondary-blue-light: #EAF5FF;
$secondary-hover: rgba(220, 231, 241, 0.27);
$secondary-blue-hover: rgba(66, 158, 255, 0.5);
$secondary-hover-stroke: #B5C0CF;
$secondary-bg: #F6F7FB;
$secondary-bg-disable: rgba(2, 11, 20, 0.75);
$secondary-green: #1AB889;
$secondary-red: #FF5E5B;

