@import '../../styles/variables';

.container {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 380px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background-color: $secondary-gray-light;
    color: $secondary-gray;
    box-sizing: border-box;
    font-size: 14px;

    .li_el {
        padding: 14px 20px;
    }

    .li_el:hover {
        background-color: $main-white;
    }

}

